<div class="row justify-center">
  <div class="col-md-5 mb-3">
    <h2>Sign Up</h2>
  </div>
</div>

<div class="row justify-center mt-2">
  <div class="col-md-5 ">

    <%= form_for @user do |f| %>
      <%= f.label :name, 'Name',class: "form-label" %>
      <%= f.text_field :name, class: "form-control mb-3", placeholder:'Input Name'%>

      <%= f.label :username, 'User Name',class: "form-label" %>
      <%= f.text_field :username, class: "form-control mb-3", placeholder:'Input User Name'%>

      <%= f.label :email, 'Email',class: "form-label" %>
      <%= f.email_field :email, class: "form-control mb-3", placeholder:'Input Email'%>

      <%= f.label :password, 'Password',class: "form-label" %>
      <%= f.password_field :name, class: "form-control mb-5", placeholder:'Input Password'%>

      <%= f.submit 'Register', class: "btn btn-success" %> 
    <% end %>
    
  </div>
</div>
